/* Whole document: */
body{
  font-family: "Open Sans";
  font-size: 16pt;
  margin-bottom: 20px;
}
/* Headers */
h1{
  font-size: 24pt;
  margin-bottom: 10px;
}
h2,h3,h4,h5,h6{
  font-size: 20pt;
}
.st-multiline {
  white-space: pre;
}


